/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* not sure about this part */
html, body
 {
  height: 100%;
  margin: 10px;
  padding: 10px;
}

header {
  font-size: 48px;
  font-family: Georgia, serif;
  color: #940462;
  text-align: center;

}

body {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdfdb3;
}

h1 {
    font-size: 18px;
    color: #266703;
}

#quizContainer {
  padding: 15px 30px;
  margin: 5px;
  border: 5px solid white;
  border-radius: 15px;
}

button {
  font-size: 18px;
  background-color: green;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

/* .hide {
    display: none;
} */

